<section>

  <!-- "wider" top-bar menu for 'medium' and up -->
  <div class="hide-for-small" data-sticky-container>
    <div data-sticky data-options="marginTop:0;" style="width:100%">
      <div id="widemenu" class="top-bar boxShadow">

        <div class="top-bar-left">
          <ul class="menu" data-magellan>
            <li><a href="#DerLaden">Der Laden</a></li>
            <li><a href="#Material">Material</a></li>
            <li><a href="#DieWerkstatt">Die Werkstatt</a></li>
            <li><a href="#Handwerk">Handwerk</a></li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="menu" data-magellan>
            <li><a href="#Impressum">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>      <!--  hide-for-small data-sticky-container  -->

  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      <!-- off-canvas title bar for 'small' screen -->
      <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        </div>
      </div>

      <!-- off-canvas left menu -->
      <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-hide-for="medium">
        <ul class="vertical dropdown menu" data-dropdown-menu data-magellan>
          <li><a href="#DerLaden">Der Laden</a></li>
          <li><a href="#Material">Material</a></li>
          <li><a href="#DieWerkstatt">Die Werkstatt</a></li>
          <li><a href="#Handwerk">Handwerk</a></li>
          <li><a href="#Impressum">Impressum</a></li>
        </ul>
      </div>

      <!-- original content goes in this container, valid for small, medium and large -->
      <div class="off-canvas-content" data-off-canvas-content>

<!-- Peters Hero -->
<div class="fixBackground" style="background:url('../../assets/img/fruit-1379911_640.jpg'); background-size: cover; background-attachment: fixed; height: 250px;">
  <div class="grid-x grid-padding-x">
    <div class="large-7 align-right cell band-text">
      <div class="small-12 cell bgcolor-white">
        <p>Laden und Werkstatt</p>
        <h4>Material für Kunst + Handwerk</h4>
        <p>Laden und Werkstatt</p>
        <h4>Material für Kunst + Handwerk</h4>
        <p>Laden und Werkstatt</p>
        <h4>Material für Kunst + Handwerk</h4>
      </div>
    </div>
  </div>
</div>

</div>    <!--  off-canvas-content  -->
<!-- close wrapper-inner, no more wrapper content after this -->
</div>
</div>  <!-- off-canvas-wrapper  -->



</section>
