{{#with sidebar.entries.[0]}}
  {{>upperPart}}
{{/with}}
        <div class="grid-x small-up-2 medium-up-3 large-up-5 thumbs">
          {{#each products.product}}
            <div class="cell call-thumb position-relative hoverscale" data-id="{{MIGX_id}}">
              <a data-open="revealTiles"><img src="{{root}}assets/img/{{image}}" alt="{{title}}" />
              <h4 class="tile-text">{{title}}</h4></a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- reveal window  -->

  <div id="revealTiles" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">

        <div class="card">
           <img id="main-image" data-actualid="1"
                        src=""
                        alt="">             <!-- src and alt get overwritten by javascript! -->

          <div class="card-divider">
            <h4 id="main-title"></h4>

            <!-- modalthumbs are invisible, but necessary to transport info about actually clicked card! -->
            <div class="card-divider" style="display: none;">
              {{#each products.product}}
                <a id="modalthumb{{MIGX_id}}" class="modal-thumb" data-id="{{MIGX_id}}" data-image="{{root}}assets/img/{{image}}" data-alt="{{title}}" data-description="{{description}}" ><img src="{{root}}assets/img/{{image}}" alt="{{title}}"></a>
              {{/each}}
            </div>
          </div>
          <span id="main-description">{{description}}</span>

      </div>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>

<!-- end reveal window  -->
